@use '../../../../styles/mixins' as *;

.uploader {
  .options {
    margin-bottom: var(--spacer-16);
    padding: var(--spacer-12) var(--spacer-16);
    background: var(--bg-secondary);
    border-radius: var(--radius-sm);
  }

  .hint {
    color: var(--color-text-tertiary);
    font-size: var(--text-sm);
  }

  .progress {
    margin-top: var(--spacer-16);
    padding: var(--spacer-16);
    background: var(--bg-secondary);
    border-radius: var(--radius-sm);
  }
}