@use '../../../styles/mixins' as *;

.databaseBackupPage {
  .header {
    margin-bottom: var(--spacer-16);

    h3 {
      margin: 0;
      font-size: var(--text-lg);
      font-weight: var(--font-weight-semibold);
    }
  }
}